[user]
	email = puig.franciscopierre@gmail.com
	name = Francisco-Pierre Puig
[core]
	excludesfile = /Users/francisco/.gitignore

[fetch]
	prune = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
