[user]
	email = francisco.puig@datadoghq.com
	name = Francisco Puig

[branch]
	sort = -committerdate

[fetch]
	prune = true

[pull]
	ff = only

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
