[user]
	email = francisco.puig@datadoghq.com
	name = Francisco Puig
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPOCWYjNGqhSo7EXnnAAdk9QijiFWPgqtaF18lffjWFn francisco.puig+git-commit-signing@datadoghq.com

[branch]
	sort = -committerdate

[fetch]
	prune = true

[pull]
	ff = only

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[commit]
	gpgsign = true
[gpg]
	format = ssh
